@import "variables";

body {
    margin: 0 auto;
    font-family: $font-main;

    .navlink {
        text-align: center;
        font-weight: 700;
        width: 135px;
        line-height: 40px;
        border-radius: 10px;
        color: $color-brown;
        background-color: $color-palegreen;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
    }
    .navlink:hover {
        background-color: $color-darkgreen;
        color: white;
    }

    h2 {
        text-align: center;
        font-family: $font-hand;
        color: $color-brown;
    }
    h4 {
        color: $color-brown;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
        
        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
        }
    }
    .container {
        display:flex;
        align-items: flex-start;
        justify-content: space-around;

        
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 45%;
        border-radius: 5px;
        background-color: $color-palegreen;

        
    }
    .product {
        width: 60%;
        min-width: 250px;
        margin: 0 auto;
        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
        p {
            text-align: justify;
        }
    }
    main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .productAdmin {
            width: 100%;
            padding: 10px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: gray solid 1px;
            border-radius: 10px;
        }

        article {
            width: 250px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 10px;
            background-color: $color-palegreen;

            a {
                
                width: 100%;
                text-align: center;
                text-decoration: none;

                img {
                    width: 90%;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 10px;
                    transition: all 0.5s;
                }
                img:hover {
                    opacity: 0.5;
                }
            }

            
        }

    }
    
}