@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$font-hand: 'Dancing Script', cursive;
$font-main: 'Montserrat', sans-serif;

$color-brown: #471c0b;
$color-palegreen: #bbd9b2;
$color-darkgreen: #5f7758;